{
    "env": {
        "node": true
    },

    "rules": {
        "camelcase": [2, {"properties": "never"}],
        "quotes": [2, "single", "avoid-escape"],
        "no-path-concat": 0,
        "no-eval": 0,
        "one-var": [2, "never"],
        "no-multiple-empty-lines": [2, {"max": 2}]
    }
}
